<div class="container-fluid">
  <br />
  <br />
    <p id="index_page_slogan">A better way to find roommates.</p>

  <div class="row">
    <div id="index_page_decor">
      <%= image_tag "index_img.png", :width=>"750px", :height=>"300px", :alt => "Image", class: "img-responsive center-block"%>
      <br />
      <p style ="text-align:center"><%=link_to "Start now!", signup_path, data: { no_turbolink: true }, role: "button", class: "btn btn-warning btn-lg"%></p>
    </div>
    
  </div>
  
</div>