// Place all the styles related to the Static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */
#index_page_decor {
  background-color: #88c7cd;
  padding: 30px 0;
  margin: 30px 0;
}
#index_page_slogan {
  font-family: 'Fredericka the Great', cursive;
  text-align:center;
  font-size:2.7em;
}
#about_img{
  padding: 20px 20px;
}
